.navbar {
    background: $color-tertiary;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    @include if-medium-screen {
        height: 50px;
    }
    @extend .clearfix;
    .navbar-list {
        position: relative;
        background-color: $color-tertiary;
        width: 100%;
        text-align: center;
        @include if-medium-screen {
            float: right;
            width: auto;
        }
        .navbar-item {
            display: inline-block;
            margin: 0 auto;
            a {
                display: inline-block;
                text-decoration: none;
                padding: 10px;
                transition: color .3s ease;
                line-height: 30px;
                &:hover {
                    color: #f7f7f7;
                    background-color: $color-primary;
                }
            }
            &.active a {
                background: $color-primary;
                color: #F7F7F7;
            }
        }
    }
}

.menu-logo {
    text-align: center;
    display: block;
    @include if-medium-screen {
        float: left;
        margin-left: 8px;
        line-height: 50px;
    }
    a {
        font-size: 30px;
        color: $color-primary;
        text-decoration: none;
        line-height: 50px;
        span {
            color: $color-warning;
        }
    }
}

.menu-search-form {
    display: none;
    margin: 0 1rem;
    height: 50px;
    @include if-medium-screen {
        //position: relative;
        display: inline-block;
    }
    input {
        margin: 0;
    }
}